body {
    font-family: 'sans-serif';
    font-size: medium;
}

footer {
    text-align: center;
    padding-top: 8%;
}

.topHeader {
    text-align: center;
    border-bottom: 10px black double;
    background-color: lightpink;
    padding-top: 3%;
}

.saveBtn {
    border-radius: 5px;
    border-left: 1px solid navy;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: aliceblue;
    color: black;
}

.hour {
    border: 2px;
    background-color: lightpink;
    border-radius: 10px;
}

.row {
    border-top: 1px solid black;
}

.future {
    background-color: lightseagreen;
    color: black;
}

.past {
    background-color: lightgoldenrodyellow;
    color: black;
}

.present {
    background-color: aliceblue;
    color: black;
}

textarea {
    background: transparent;
    background-color: white;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  .time-block {
    border-radius: 15px;
  }

  .description {
    white-space: inherit;
  }